<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538839219914-gn6t238vogcv3729efgmdssam4gn6lel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538839219914-gn6t238vogcv3729efgmdssam4gn6lel</string>
	<key>API_KEY</key>
	<string>AIzaSyAk87tFaBjdZu4W_3IE38oXGTVsmh_Q4yg</string>
	<key>GCM_SENDER_ID</key>
	<string>538839219914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opiShop</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-5e038</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-5e038.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538839219914:ios:064891e983b410bf16fe33</string>
</dict>
</plist>